* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cayan: hsl(184, 100%, 22%);
  --very-dark-cayan: hsl(179, 100%, 13%);

  --border-radius: 6px;
}

body {
  height: 100vh;
  font-size: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: inherit;
}

.card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px 40px;
  width: 300px;
  max-width: 90%;
}

.card:first-child {
  background-color: var(--bright-orange);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.card:nth-child(2) {
  background-color: var(--dark-cayan);
}

.card:nth-child(3) {
  background-color: var(--very-dark-cayan);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.card__title {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  margin-top: 2rem;
}

.card__text {
  font-family: "Lexend Deca", serif;
  font-weight: 400;
  font-size: inherit;
  margin-top: 2rem;
  line-height: 1.6;
  word-spacing: 2px;
}

.card__btn {
  text-transform: capitalize;
  font-size: inherit;
  font-weight: 400;
  margin-top: 5rem;
  padding: 1rem 2rem;
  border-radius: 100px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.card:first-child .card__btn {
  color: var(--bright-orange);
}

.card:nth-child(2) .card__btn {
  color: var(--dark-cayan);
}
.card:nth-child(3) .card__btn {
  color: var(--very-dark-cayan);
}

.card .card__btn:hover {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

@media only screen and (max-width: 750px) {
  body {
    height: auto;
  }
  .container {
    flex-direction: column;
    padding: 40px 0;
  }

  .card:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--border-radius);
  }

  .card:nth-child(3) {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: 0;
  }
}
