* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cayan: hsl(184, 100%, 22%);
  --very-dark-cayan: hsl(179, 100%, 13%);
}

body {
  height: 100vh;
  font-size: 15px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  color: #fff;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 3rem;
}

.card:first-child {
  background-color: var(--bright-orange);
}

.card:nth-child(2) {
  background-color: var(--dark-cayan);
}

.card:nth-child(3) {
  background-color: var(--very-dark-cayan);
}

.card__title {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  margin-top: 2rem;
}

.card__text {
  font-family: "Lexend Deca", serif;
  font-weight: 400;
  font-size: inherit;
  margin-top: 2rem;
  line-height: 1.6;
}

.card__btn {
  text-transform: capitalize;
  font-size: inherit;
  font-weight: 400;
  margin-top: 5rem;
  padding: 1rem 3rem;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.card:first-child .card__btn {
  color: var(--bright-orange);
}

.card:nth-child(2) .card__btn {
  color: var(--dark-cayan);
}
.card:nth-child(3) .card__btn {
  color: var(--very-dark-cayan);
}
